<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <meta name="author" content="{{ site.author }}">
        <title>
            {{ site.title }}
        </title>
    </head>
    <body>
        <main class="wrapper">
            {% include navbar.html %}
            <div class="content">
                <section class="container list">
                    <h1 class="title">
                        <a class="title-link" href="/">
                            Posts
                        </a>
                    </h1>   
                    <ul>
                        {% for post in site.posts %}
                            <li>
                                <span class="date">{{ post.date  | date: "%B %d, %Y" }}</span>
                                <a class="title" href="{{ post.url }}">{{ post.title }}</a>
                            </li>
                        {% endfor %}        
                    </ul> 
                </section>
            </div>
        </main>
    </body>
</html>